{% extends "shop/base_shop.html"%}

{% block head %}
    {% load static %}
{% endblock %}

{% block content %}

    <!-- Hero Section -->
    <header class="hero">
        <div class="container">
            {% if search_ctx %}
                <h1 class="display-4 fw-bold">Ricerca per: <span style="color = #CA421C;">{{search_ctx}}</span></h1>
            {% else%}
                <h1 class="display-4 fw-bold">Tutti i <span style="color = #CA421C;">Prodotti</span> ({{tot}})</h1>
            {% endif %}
            <p class="lead">Acquista telefoni nuovi, usati e ricondizionati al miglior prezzo!</p>
        </div>
    </header>

{% include 'shop/list_product.html' %} <!-- Lista prodotti -->

{% endblock %}