{% extends 'base.html' %}

{% block content %}

    {% block shopnav %}

        <!-- Mini Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                
                <a class="navbar-brand" href="{% url 'shop:homeshop' %}">Shop</a>
                
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:prodotti' %}">Prodotti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:brands' %}">Brands</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <br>

    {% endblock %}
    
{% endblock %}
