{% extends 'base.html' %}

{% block head %}
    {% load static %}
{% endblock %}

{% block content %}

    {% block nav %}

        <!-- Mini Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'shop:homeshop' %}">Shop</a>
                <div class="collapse navbar-collapse">

                    <!-- Link a sinistra -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:prodotti' %}">Prodotti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:brands' %}">Brands</a>
                        </li>
                    </ul>

                    <!-- Barra di ricerca al centro -->
                    <form class="d-flex mx-auto" method="GET" action="{% url 'shop:search' %}">
                        <div class="input-group">
                            <input id="search-input" type="search" name="search" class="form-control rounded-pill" placeholder="Cerca prodotti..." style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                            <button id="search-button" class="btn btn-outline-success rounded-pill" type="submit" style="margin-left: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>

                    <!-- Link a destra -->
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}

                            {% if user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'users:gestione' %}">Gestione</a>
                                </li>
                            {% endif %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:dashboard' %}">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" action="{% url 'users:logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link nav-link" style="color: black; border: none; background: none;">Logout</button>
                                </form>
                            </li>

                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:register' %}">Registrati</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Script per rendere non cliccabile il pulsante se non scritto niente nella barra di ricerca -->
        <script src="{% static 'js/disable_search_button.js' %}"></script>

    {% endblock %}
    
{% endblock %}
