{% extends 'shop/base_shop.html' %}

{% block head%}
    {% load static %}
{% endblock %}

{% block content %}

    <!-- Hero Section -->
    <header class="hero">
        <div class="container">
            <h1 class="display-4 fw-bold">Dettagli del Prodotto</h1>
        </div>
    </header>

    <!-- Dettaglio Prodotto -->
    <div class="container my-5">
        <div class="row">

            <div class="col-md-6">

                {% if prodotto.immagine%}
                    <img src="{{prodotto.immagine.url}}" class="img-fluid" alt="{{ prodotto.nome }}">
                {% endif %}
            </div>

            <div class="col-md-6">
                <h2>{{ prodotto.nome }}</h2>
                <p><strong>Brand:</strong> {{ prodotto.modello }}</p>
                <p><strong>Descrizione:</strong> {{ prodotto.descrizione }}</p>
                <p><strong>Prezzo:</strong> da € {{ prezzoda }}</p>
                
                {% if user.is_authenticated %} <!-- Se utente è autenticato -->
                    <a href="{% url 'shop:acquista' prodotto.pk%}" class="btn btn-success">Scegli...</a>
                {% else %} <!-- Se utente NON è autenticato -->
                    <a href="{% url 'users:register' %}" class="btn btn-primary">Registrati</a>
                    <a href="{% url 'users:login' %}" class="btn btn-primary">Accedi</a>
                {% endif%}
                <a href="{% url 'shop:prodotti' %}" class="btn btn-secondary">Torna alla lista dei prodotti</a>
            </div>

        </div>
    </div>
    
{% endblock %}