{% block head %}
    {% load static %}
{% endblock %}

    <!-- Vetrina -->
    <section class="bg-light py-5">
        <div class="container">

            {% if evidenza %}
                <h2 class="text-center mb-4">Brand {{evidenza}}:</h2>
            {% else %}
                <h2 class="text-center mb-4">Brand:</h2>
            {% endif%}

            <div class="row">

                {% if brands %} <!-- Se esistono brand -->

                    {% for brand in brands %} <!-- Per ogni brand esistente -->
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{brand.immagine.url}}" class="card-img-top" alt="{{ brand.nome }}">

                            <div class="card-body text-center">
                                <h5 class="card-title">{{ brand.nome }}</h5>
                                <a href="/shop/brand/{{brand.nome|lower}}" class="btn btn-primary">Esplora</a>
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                {% else %} <!-- Se NON esistono brand -->
                    <div class="col-md">
                        <div class="card product-card mb shadow-sm">
                            <div class="card-body">
                                <h2 style="text-align: center;"class="card-title">Nessuno brand disponibile.</h2>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>