{% block head %}
    {% load static %}
{% endblock %}

    <!-- Vetrina -->
    <section id="products" class="py-5">
        <div class="container">

            {% if evidenza %}
                <h2 class="text-center mb-4">Prodotti {{evidenza}}:</h2>
            {% else %}
                <h2 class="text-center mb-4">Prodotti:</h2>
            {% endif %}

            <div class="row">

                {% if prodotti %} <!-- Se esistono prodotti -->

                    {% for prodotto in prodotti %} <!-- Per ogni prodotto esistente -->
                        <div class="col-md-4">
                            <div class="card product-card mb-4 shadow-sm">
                                
                                {% if prodotto.immagine %}
                                    <img height="auto" src="{{prodotto.immagine.url}}" class="card-img-top" alt="{{ prodotto.nome }}">
                                {% endif %}

                                <div class="card-body">
                                    <h5 class="card-title">{{prodotto.modello.nome}} {{ prodotto.nome }}</h5>
                                    <p class="desc card-text text-muted">{{ prodotto.descrizione }}</p>
                                    <div class="text-center">
                                        <a href="/shop/prodotto/{{prodotto.pk}}" class="btn btn-outline-primary">Scopri di più</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                {% else %} <!-- Se NON esistono prodotti -->
                    <div class="col-md">
                        <div class="card product-card mb shadow-sm">
                            <div class="card-body">
                                <h2 style="text-align: center;"class="card-title">Nessuno articolo disponibile.</h2>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>

    <!-- Script per ridurre caratteri descrizione -->
    <script src="{% static 'js/reduce_text.js' %}"></script>