{% extends 'base.html' %}

{% block title %}RPLAB | Home{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="text-center" >
    <h2>📱Riparazione smartphone in 15 minuti!📱</h2>
    <p><b>RPLab</b> è un centro riparazione telefoni e computer, specializzato nel recupero dei dati. Effettuiamo riparazioni <b>rapide e garantite fino a 12 mesi</b> e offriamo un telefono di cortesia per le riparazioni più lunghe.
        <br>
        <h6>Chiamaci per un preventivo gratuito!<h6>
    </p>
    <a class="btn btn-primary mt-3" href="tel:+3905351930015">Chiama!</a>
</div>

<div class="separator">
</div>
{% endblock %}

