{% extends 'users/dashboard_base.html' %}

{% block dashboard %}

    {% include 'users/user_orders_list.html' %}

    {% include 'users/staff_orders_list.html' %}

    {% if user.is_admin or user.is_staff%}
        <div class="text-center">
            <a href="{% url 'users:allcomande' %}" class="btn btn-outline-primary">Vedi tutte...</a>
        </div>
    {% endif %}

    <!-- Separator -->
    <div class="separator"></div>

    {% include 'users/user_valutazioni_list.html' %}

    {% include 'users/staff_valutazioni_list.html' %}

    {% if user.is_admin or user.is_staff%}
        <div class="text-center">
            <a href="{% url 'users:allvalutazioni' %}" class="btn btn-outline-primary">Vedi tutte...</a>
        </div>
    {% endif %}
    
{% endblock %}
