{% extends 'users/dashboard_base.html' %}

{% block dashboard %}

    <!-- Form modifica utente -->
    <div class="container mt-5">
        <h2 class="mb-4">Modifica Utente</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Salva</button>
                <a href="{% url 'users:userlist' %}" class="btn btn-secondary">Annulla</a>
            </div>
        </form>
    </div>

{% endblock %}
