<div class="mt-5 text-center">
    {% if user.is_staff or user.is_superuser %} <!-- Se utente staff o superuser -->

    {% if title %}
        <h3>{{title}}</h3>
    {% else %}
        <h3>Valutazioni attive:</h3>
    {% endif %}

        <!-- Tabella valutazioni -->
        {% if valutazioni_attive %}
            <table class="table table-bcomandaed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Acquirente</th>
                        <th>Brand</th>
                        <th>Prodotto</th>
                        <th>Memoria</th>
                        <th>Condizione</th>
                        <th>Schermo Rotto</th>
                        <th>Back Rotto</th>
                        <th>Stato Batteria</th>
                        <th>Bloccato</th>
                        <th>Commento</th>
                        <th>Valore</th>
                        <th>Stato</th>
                        <th>Modifica</th>
                        <th>Elimina</th>
                    </tr>
                </thead>

                <tbody>
                    {% for valutazione in valutazioni_attive %}
                    <tr>
                        <td>{{ valutazione.pk }}</td>
                        <td><a href="{% url 'users:userdetail' valutazione.utente.id %}" class="btn-primary">{{ valutazione.utente.username }}</a></td>
                        <td>{{ valutazione.prodotto.modello.nome }}</td>
                        <td>{{ valutazione.prodotto.nome }}</td>
                        <td>{{ valutazione.memoria }} GB</td>
                        <td>{{ valutazione.condizione }}

                        {% if valutazione.schermo_rotto %}
                            <td>✔</td>
                        {% else %}
                            <td>❌</td>
                        {% endif %}

                        {% if valutazione.back_rotto %}
                            <td>✔</td>
                        {% else %}
                            <td>❌</td>
                        {% endif %}
                        
                        <td>{{ valutazione.stato_batteria }} %</td>

                        {% if valutazione.bloccato %}
                            <td>✔</td>
                        {% else %}
                            <td>❌</td>
                        {% endif %}
                        
                        {% if valutazione.commento %}
                            <td><a class="btn-primary" type="button"
                                data-bs-toggle="popover" data-bs-placement="right"
                                data-bs-custom-class="custom-popover"
                                data-bs-title="Commento"
                                data-bs-content="{{valutazione.commento}}">
                                Leggi
                            </a></td>
                        {% else %}
                        <td>No</td>
                        {% endif %}

                        <td>{{ valutazione.valore }} €</td>

                        {% if valutazione.completata %}
                            <td>✔</td>
                        {% else %}
                            <td>⏳</td>
                        {% endif %}
                        
                        <!-- Modifica -->
                        <td>
                            <a href="{% url 'users:selected_valutazione_update' valutazione.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path>
                                </svg>
                            </a>
                        </td>
                        
                        <!-- Elimina -->
                        <td>
                            <a href="{% url 'users:selected_valutazione_delete' valutazione.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>

        {% else %}
            <p>Non hai nessuna valutazione.</p>
        {% endif %}

    {% endif %}
    
</div>