{% extends 'users/dashboard_base.html' %}

{% block dashboard %}

    <!-- Lista di tutti gli utenti -->
    <div class="container mt-5 text-center">
        <h2 class="mb-4">Lista degli Utenti</h2>

        <!-- Tabella -->
        <table class="table table-bcomandaed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Dettagli</th>
                </tr>
            </thead>
            
            <tbody>
                {% for utente in utente %}
                <tr>
                    <td>{{ utente.id }}</td>
                    <td>{{ utente.username }}</td>
                    <td>{{ utente.email }}</td>
                    <td>
                        <a href="{% url 'users:userdetail' utente.id %}" class="btn btn-info">Vedi Dettagli</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <a href="{% url 'users:dashboard' %}" class="btn btn-secondary">Indietro</a>
    </div>
    
{% endblock %}
