{% extends 'users/dashboard_base.html' %}

{% block dashboard %}

    {% if user.is_staff or user.is_superuser %}
    
        <!-- Form per la selezione del modello da operare -->
        <div class="container mt-5">
            <h1 class="text-center">Seleziona il modello:</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id">Seleziona Modello:</label>
                    {{ form.selection }}
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary w-100">Continua</button>
                </div>
            </form>
        </div>

    {% endif %}

{% endblock%}