{% extends 'users/dashboard_base.html' %}

{% block dashboard %}

    {% if user.is_staff or user.is_superuser %}

        <!-- Form per update -->
        <div class="container mt-5">
            <h1 class="text-center">Modifica: {{ model.nome }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }} 
                <button type="submit" class="btn btn-primary w-100">Salva Modifiche</button>
            </form>
        </div>

    {% endif %}
    
{% endblock %}