{% extends 'shop/base_shop.html' %}

{% block content %}

    {% if user.is_staff or user.is_superuser %}

        <!-- Form per create -->
        <div class="container mt-5">
            <h1 class="text-center">Crea</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salva</button>
                <a href="{% url 'shop:gestione' %}" class="btn btn-secondary">Annulla</a>
            </form>
        </div>
        
    {% endif %}

{% endblock %}