{% extends 'base.html' %}

{% block head %}
    {% load static %}
{% endblock %}

{% block content %}

    {% block nav %}

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'sell:homesell' %}">Vendi il tuo usato</a>

                <!-- Link a destra -->
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'users:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link" style="color: black; border: none; background: none;">Logout</button>
                            </form>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:register' %}">Registrati</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>

    {% endblock %}

{% endblock %}