{% extends "sell/base_sell.html" %}

{% block head %}
    {% load static %}
{% endblock %}


{% block content %}

    <!-- Hero Section -->
    <section class="hero bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-4">Vendi il tuo telefono in pochi semplici passi</h1>
            <p class="lead">Scopri quanto vale il tuo telefono e ricevi una valutazione automatica direttamente online.</p>
        </div>
    </section>

    <!-- Come funziona -->
    <section id="how-it-works" class="py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-4">❓ Come funziona ❓</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">1. Seleziona il tuo modello</h5>
                            <p class="card-text">Scegli il modello del tuo telefono per iniziare il processo di valutazione.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">2. Rispondi alle domande</h5>
                            <p class="card-text">Rispondi a poche semplici domande sullo stato del tuo telefono.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">3. Ottieni la valutazione</h5>
                            <p class="card-text">Ricevi una valutazione immediata e scopri quanto vale il tuo telefono.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Inizia Valutazione -->
    <section class="py-5">
        <div class="container text-center">
            <h2 class="mb-4">Inizia la valutazione del tuo telefono</h2>
            <p class="lead">Compila il modulo per ottenere una valutazione gratuita e senza impegno.</p>

            {% if user.is_authenticated%}
                <a href="{% url 'sell:valutazione' %}" class="btn btn-success btn-lg">Inizia Ora</a>
            {% else %}
                <a href="{% url 'users:login' %}" class="btn btn-primary btn-lg">Accedi</a>
                <a href="{% url 'users:register' %}" class="btn btn-primary btn-lg">Registrati</a>
            {% endif %}
            
            </div>
    </section>

{% endblock %}