.separator {
    background-color: grey;
    height: 2px;
    width: auto;
    margin: 4rem;
}

.btn-color {
    color: red !important;
    background-color: aquamarine;
}

#shop-image {
    border-radius: 20px !important;
}